.latest-news-area {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo a:hover {
  text-decoration: none;
}
.conta {
  min-height: 880px;
  max-width: 980px;
  margin: 10px;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.latest-news-wrap {
  box-shadow: 15px 0 15px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
  /* height: 400px; */
}
.latest-news-wrap:hover {
  opacity: 1;
  transform: scale(1);
}
.news-img {
  position: relative;
  /* left: 0; */
  top: 0;
  width: 100%;
  height: 100%;
  background: #12a0468e none repeat scroll 0 0;
  content: '';
  color: white;
  opacity: 1;
  transform: scale(0.8);
  transition: all 0.5s;
}
.img-responsive {
  width: 200px;
  border-radius: 0 0 10px;
  /* height: 200px; */
}
.deat {
  background: #c23003 none repeat scroll 0 0;
  height: 70px;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 70px;
  padding: 10px;
  border-radius: 0 0 10px;

  box-shadow: 0px 3px 10px rgba(249, 248, 248, 0.242);
}
.deat span {
  display: block;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}
.news-content {
  padding: 20px;
  margin-left: 3px;

}
.news-content i {
  font-size: 18px;
  display: inline-block;
}
.news-content .fab {
  padding: 10px 10px;
  cursor: pointer;
}
.news-content p {
  margin-bottom: 15px;
  text-align: justify;
  margin-top: 20px;
  margin-right: 20px;

}
.news-content a {
  font-size: 14px;
  background-color: #da3431;
  padding: 10px 20px;
  color: white;
  transition: all 0.5s ease-in;
  text-decoration: none;
  display: flex;
  justify-content: center;

}
.suin{
  text-align: center;
}
.news-content a:hover {
  /* border-top-right-radius: 20px; */
  /* border: 2px solid #f7f7f7; */
  background-color: #fff;
  color: rgb(247, 9, 9);
  text-decoration: none;
}
.news-active {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.zvimwe {
  width: 450px;
  margin-top: 30px;
  /* margin: 20px; */
  /* display: flex; */
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.head {
  display: flex;
  padding: 20px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  font-family: 'Oleo Script', cursive;
  font-size: 30px;
  color: rgba(248, 82, 53, 1);
  background: -webkit-linear-gradient(rgba(215, 6, 6, 0.612), rgb(52, 211, 8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Tablet */
@media (max-width: 800px) {
  .conta {
    min-height: 880px;
    /* max-width: 880px; */
    margin: 10px;
    font-size: 1.6rem;
    justify-content: center;
    flex-direction: column;
  }
  .latest-news-area {
  }

  .latest-news-wrap {
  }
  #latest {
    display: flex;
    /* flex-direction: column; */
  }
}

/* Phone */
@media (max-width: 500px) {
  .conta {
    min-height: 880px;
    max-width: 450px;
    margin: 10px;
    font-size: 1.6rem;
    justify-content: center;
    flex-direction: column;
  }
}
